# Compiled class files
*.class

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDE - IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# IDE - Eclipse
.project
.classpath
.settings/

# IDE - VS Code
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store

# Env/secrets
**/.env
**/*application-local.yml
**/*application-prod.yml

# Wrapper (si se usa)
!.mvn/wrapper/maven-wrapper.jar
